form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: flex-start;
}
form button {
  margin-top: 10px;
  cursor: pointer;
}
table, tr, td, th {
  border: 1px solid #000;
}